@media screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
  /**=======================*/
  /*? HEADER */
  /**=======================*/

  /*? BURGER-MENU  */

  .nav-bar {
    padding: 0 22px;
    width: 100vw;
    height: auto;
  }

  .logo {
    width: 110px;
    height: 60px;
  }

  .nav-link {
    font-size: 32px;
  }

  .nav-link::after {
    display: none;
  }

  .burger-btn {
    right: 22px;
    width: 40px;
    height: 28px;
    top: 31px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
  }

  .nav-list {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    background-color: rgba(250, 250, 250, 0.8);
    backdrop-filter: blur(10px);

    transform: translateX(100%);
    transition: all 0.4s ease-in;
    visibility: hidden;
    opacity: 0;

    z-index: 666;
    gap: 36px;
    /* outline: 1px solid red; */
  }

  .show,
  .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .burger-btn {
    /* outline: 1px solid red; */
  }

  .bar:nth-child(1).active {
    transform: rotate(45deg) translate(9px, 8px);
  }
  .bar:nth-child(2).active {
    display: none;
  }
  .bar:nth-child(3).active {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  /**=======================*/
  /*? HERO */
  /**=======================*/

  .section-hero {
    background: url("../Img/Bjarke-Ingels/Bjarke-Ingels-mobile.jpg") center /
      cover no-repeat;
    /* background: none; */
    width: 100vw;
    height: 100vh;
  }

  .border-hero {
    width: 100vw;
    height: 100%;
  }

  .border-hero::after {
    display: none;
  }

  .hero-container {
    background: none;
    width: 420vw;
    height: 100%;
  }

  .hero-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 83vw;
  }

  .hero-title {
    display: none;
  }
  
  .hero-title-mob {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 52px;
    line-height: 60px;
    color: #000;
    padding-bottom: 40px;
    margin-bottom: 0;
    width: 100%;
    height: 100%;

  }

  .mob-span {
    text-indent: 35px;
  }

  .marks-left {
    display: none;
  }

  .marks-right {
    display: none;
  }

  .hero-text {
    display: none;
  }

  /**=======================*/
  /*? SERVISCES-SECTION */
  /**=======================*/

  .services-section {
  }

  .services-cintainer {
    padding: 90px 0;
  }

  .list-title {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    letter-spacing: 1.4px;
  }

  .list-item::after {
    padding: 90px;
  }

  .list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    font-size: 46px;
    padding: 60px;
    color: rgba(35, 98, 156, 0.849);
  }

  .services-icon-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 0;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }

  .items-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .items-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .items-3 {
    grid-area: 2 / 1 / 3 / 3;
  }

  /**=======================*/
  /*? AMAGE-SECTION */
  /**=======================*/

  .amager-container {
    padding: 90px 0;
  }

  .flex-amager {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nr-01 {
    font-size: 130px;

    width: 120px;
    height: 100%;
    margin-bottom: 0;
  }

  .amager-title {
    font-family: "Kanit", sans-serif;
    text-shadow: 5px 5px rgb(51, 51, 51, 0.1);
    font-weight: 500;
    font-size: 46px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;

    margin-bottom: 52px;
  }

  .amager-text {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.6px;

    min-width: 350px;
    min-height: 220px;
  }

  .black-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100vw;
    height: 100%;
    padding: 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.88);
  }

  .box-content {
    width: 100%;
  }

  .image-box {
    width: 100%;
  }

  .img-bakke {
    display: none;
  }

  .img-bakke-mob {
    display: block;
    border-radius: 2px;
  }

  /**=======================*/
  /*? ABOUT */
  /**=======================*/

  .about-container {
    padding: 90px 0;
    width: 100vw;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about-title {
    font-size: 52px;
    line-height: 60px;
    letter-spacing: 1.8px;
    text-align: center;
  }

  .about-text {
    font-weight: 400;
    font-size: 18px;
    color: #333;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: justify;

    max-width: 380px;
  }

  /**=======================*/
  /*? MOUNTAIN-SECTION */
  /**=======================*/

  .mountain-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    gap: 75px;

    padding: 90px 0;
  }

  .nr-02 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 130px;
    color: #d1d1d1;

    width: 145px;
    height: 100%;
    margin-bottom: 0;
  }

  .mountain-content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .mountain-title {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #d1d1d1;
    letter-spacing: 2.6px;

    margin-bottom: 35px;
  }

  .mountain-text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: normal;
    letter-spacing: 0.32px;

    max-width: 460px;
    height: auto;
  }

  .img-mountain {
    display: none;
  }

  .img-mountain-mob {
    display: block;
    border-radius: 2px;
  }

  /**=======================*/
  /*? GALLERY */
  /**=======================*/

  .logo-gallery {
    width: 100%;
    height: 50px;
  }

  .gallery-container {
    padding: 90px 0;
  }

  .gallery-title {
    font-family: "Kanit", sans-serif;
    text-shadow: 2px 2px rgb(51, 51, 51, 0.4);
    font-weight: 500;
    font-size: 52px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;

    margin-bottom: 60px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;

    padding: 0 12px;
    width: 100%;
  }

  .gallery,
  img {
    border-radius: 8px;
  }

  /**=======================*/
  /*? FOOTER */
  /**=======================*/

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 0 32px;
  }
}
